In [2]:
import pandas as pd

data = pd.read_csv('airport_data.csv')
cities = pd.read_csv('otse.csv', delimiter=';')


some_data = data[['IATA', 'City', 'Latitude', 'Longitude',]]

some_data.head(3)

  IATA         City  Latitude   Longitude
0  GKA       Goroka  -6.08169  145.391998
1  MAG       Madang  -5.20708  145.789001
2  HGU  Mount Hagen  -5.82679  144.296005

In [ ]:
for i, row in cities.iterrows():
    #print(row['IATA'] + " ----> " + row['City'])
    val = some_data['IATA'] == row['IATA']
    if data.bool(val):
        print("d")

In [12]:
df1 = data.head()
df2 = cities.head()

l = pd.DataFrame()
c = cities.head()

for i, row in df2.iterrows():
    #if df2['IATA'].apply(lambda x: True if x == 'TLL' else False):
    a = row['IATA']
    l.append(data.loc[data['IATA'] == a])